html {
  --main-border-size: 2px;
  --main-border-color: #444444;
  --main-background-color: #111111;
}

body, html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.button {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

body, html {
  background: var(--main-background-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body.frameless {
  padding: 3px; /* Resize border size */;
  border: var(--main-border-size) solid var(--main-border-color);
}
body.frameless #content {
  background: var(--main-background-color);
  -webkit-app-region: drag;
}

#content {
  width: 100%;
  height: 100%;
}

#main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dependency-graph-container,
#dependency-graph-container svg {
  /* It's svg so we can scale it up */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#error-display {
  display: none;
  background: rgba(255, 150, 150, 0.8);
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
}

#error-display-content {
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

.error-close {
  position: absolute;
  top: 4px;
  right: 4px;
  font-family: monospace;
  color: rgba(255, 150, 150, 1);
  font-weight: bold;
  font-size: 1.1em;
  background: #ffffff;
  text-decoration: none;
  padding: 1px;
  cursor: pointer;
}

.loader {
  display: block;
  color: #888888;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.5;
}

body:not(.frameless) #window-controls {
  display: none;
}

#window-controls {
  -webkit-app-region: no-drag;
  position: fixed;
  top: var(--main-border-size);
  right: var(--main-border-size);
  opacity: 0;
  display: flex;
  flex-direction: row-reverse;
  background: var(--main-border-color);
  padding: 0 0 4px 4px;
  padding-right: calc(4px + var(--main-border-size));
  border: var(--main-border-size) var(--main-border-color);
  border-style: none none solid solid;
}
#window-controls:hover {
  opacity: 1;
}

#window-controls .button {
  font-family: monospace;
  background: rgba(0, 0, 0, 0.01);
  padding: 2px 5px;
  margin: 0 1px;
  color: #fff;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
}
#window-controls .button.always-on-top-window {
  padding: 3px;
}
#window-controls .button:hover {
  background: rgba(0,0,0,0.6);
}
#window-controls .button.active {
  background: rgba(0,0,0,0.3);
}

#window-controls .spacer {
  display: block;
  border-right: solid 1px #5a5a5a;
  margin: 3px 5px 0 4px;
}

/*
 * Loader: https://loading.io/css/
 * ------------------------------------------------------------ */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
